@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    scroll-behavior: smooth;
    color: white;

}
button{
    padding: 1rem;
    border-radius: 13px;
    background: transparent;
    color: white;
    border: 1px white solid;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all .3s ease;
}
button:hover{
    transform: scale(1.1);
}
header .nav-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    
}
.nav-container .nav-logo{
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-logo .logo{
    width: 60px;
}
.logo img{
    width: 100%;
}
.nav-logo .brand{
    width: 150px;
     
}
.brand img{
    width: 100%;
}
.nav-container .nav-buttons{
    display: flex;
    gap: 3rem;
}
/* .nav-buttons .log{

}    */

/* .nav-buttons .register{
    
} */


/* =============Home main===================== */

section .home-container{
    display: grid;
    text-align: center;
    margin-top: 10rem;
}
.home-container h1{
    font-size: 8rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    font-family: 'Teko', sans-serif;
}
.home-container p{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    text-align: start;
    margin-left: 32rem;
    max-width: 50rem;
}
.home-container button{
    margin-right: 47rem;
    margin-top: 2rem;

}

/* =============login page============== */
.main_login {
    width: 400px;
    height: 420px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(89 53 255 / 14%)
}

.main {
    width: 400px;
    height: 550px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(89 53 255 / 14%)
}

.sign {
    padding-top: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;

    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.acc {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
    margin-top: 2rem;
}
.sinn{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
    text-decoration: underline;

}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

/* =============create blogge form========== */

.blogeform-container{
    height: 700px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(89 53 255 / 14%);
    margin-top: 5rem;

}
.blogeform-container form{
    display: grid;
}
.blogeform-container form .bloggewrite input{
    margin-top: 5rem;
    text-align: left;
    width: 76%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    font-family: 'Ubuntu', sans-serif;
}
.blogeform-container form .bloggewrite textarea{
    margin-top: 3rem;
    text-align: left;
    width: 76%;
    height: 300px;
    resize: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}
.blogeform-container .buttons{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    margin-left: 10rem;
    cursor: pointer;
}
.blogeform-container .buttons button{
    padding: 0.7rem 1.6rem;
    border-radius: 8px;
    background: transparent;
    color: white;
    border: 1px white solid;
    font-weight: 600;
    justify-content: start;
    pointer-events: none;
    
    
}
button input[value="POST"]{
    font-size: 1.2rem;
    font-weight: 600;
}
