{% extends 'base/main.html' %}
{% block content %}
<div class="blogeform-container">
    <form action="">
      <div class="bloggewrite">
         <input type="text" placeholder="Write Your Blogge Title">
        <textarea placeholder="Write What's In Your Mind" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="buttons">
        <a href="{% url 'home' %}">
        <div class="butt">BACK</div>
        </a>
        <input type="submit" value="SUBMIT">
    </div>
        
    </form>
</div>
{% endblock content %}