{% load static %}
    {% for feed in feeds  %}
    <div class="box">
        <div class="header">
            <a href="{% url 'profile' feed.host.id %}">
            <div class="user">
                <div class="profile">
                    <img src="{{feed.host.avatar.url}}" alt="">
                </div>
                <p>{{feed.host.name}}</p>
            </div>
        </a>
        <div class="time">
            {% if request.user.name == feed.host.name %}
           <a href="{% url 'updateblogge' feed.id %}"><span class="material-symbols-outlined">
                edit
                </span></a> 
            <a href="{% url 'deleteblogge' feed.id %}"><span class="material-symbols-outlined">
                    delete
                </span></a>
                {% endif %}    
            <p>{{feed.created | timesince}} ago</p>
        </div>
        </div>
        <div class="body">
            <h1>{{feed.title}}</h1>
            <p>{{feed.description}}</p>
        </div>
    </div>
    {% endfor %}
    


