{% load static %}
    {% for feed in feeds  %}
    <div class="box">
        <div class="header">
            <a href="">
            <div class="user">
                <div class="profile">
                    <img src="{% static 'images/avatar.svg' %}" alt="">
                </div>
                <p>{{feed.user}}</p>
            </div>
        </a>
        <div class="time">
            <p>{{feed.created | timesince}} ago</p>
        </div>
        </div>
        <div class="body">
            <h1>{{feed.title}}</h1>
            <p>{{feed.description}}</p>
        </div>
    </div>
    {% endfor %}
    


