{% extends 'base/main.html' %}
{% block content %}
{% if page == 'login' %}
<div class="main_login">
    <p class="sign" align="center">login</p>
    <form class="form1" method='POST'>
      {% csrf_token %}
      <input class="un " name="username" type="text" align="center" placeholder="Username">
      <input class="pass" name="password" type="password" align="center" placeholder="Password">
      <input type="submit" value="Login" class="submit" align="center">
      <p class="acc" align="center">Don't have an account?</p>
      <p class="sinn" align="center"><a href="{% url 'signup' %}">Sign Up</a></p>         
    </form>
  </div>    
{% else %}
<div class="main">
    <p class="sign" align="center">Sign Up</p>
    <form class="form1" method="POST">
      {% csrf_token %}
      {% for field in form  %}
      <div class="form_container">
        <div class="formsingle">
            {% if field.name == 'name' %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="Name">
            {% elif field.name == 'username' %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="Username">    
            {% elif field.name == 'email' %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="Email">
            {% elif field.name == 'password1' %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="Password">
            {% elif field.name == 'password2' %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="Confirm Password">
            {% endif %}
        </div>
    </div>
      {% endfor %}
      <input type="submit" value="Sign Up" class="submit" align="center">
      <p class="acc" align="center">Already have an account?</p>
      <p class="sinn" align="center"><a href="{% url 'login' %}">Login</a></p>         
    </form>
  </div>
{% endif %}
{% endblock content %}