{% load static %}
<header>
    <div class="nav-container">
        <div class="nav-logo">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static './images/logo1.png' %}" alt=""></a>
            </div>
            <div class="brand">
                <a href="{% url 'home' %}"><img src="{% static 'images/an.png' %}" alt=""></a>
            </div>
        </div>
        <div class="nav-buttons">
            <div class="log">
                <a href="{%url 'login'%}"><button>Log In</button></a>
            </div>
            <div class="register">
                <a href="{% url 'signup' %}"><button>Get Started</button></a>
            </div>

        </div>  
        {% comment %} <a href="{% url 'profile' %}">
        <div class="userprofile">
                <div class="profile">
                    <img src="{% static 'images/avatar.svg' %}" alt="">
                </div>
                <div class="usernames">
                <p>ANeeb</p>
                <p>@aneebanu</p>
                </div>
                
        </div> 
    </a> {% endcomment %}
    </div>
</header>