{% extends 'base/main.html' %}
{% block content %}
<div class="edit_profile_contaienr">
    <div class="edit_profile">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form  %}
            <div class="form__group">
                <div class="label"><label for="profile_pic">{{field.label}}</label></div>
                <div class="input_box">{{field}}</div>
            </div>
            {% endfor %}
            <div class="buttons">
                <a href="{% url 'profile' %}">
                <div class="butt">BACK</div>
                </a>
                <input type="submit" value="SUBMIT">
            </div>
            
        </form>
    </div>
</div>

{% endblock content %}