{% extends 'base/main.html' %}

{% block content %}
{% load static %}
<div class="profile_container">
    <div class="profile_page">
      <a href="{% url 'home' %}"><span class="material-symbols-outlined">
            arrow_back
            </span></a>  
        <div class="profile">
            <img src="{{user.avatar.url}}" alt="" />
        </div>
        <p>{{user.name}}</p>
        <p>{{user.username}}</p>
        <p class="bio">
            {{user.bio}}
            </p>
        {% if request.user.username == user.username %}
        <a href="{% url 'profile_edit' %}"><button>Edit Profile</button></a>
        <a href="{% url 'logout' %}"><button>Logout</button></a>
        {% endif %}
       
       

    </div>
</div>

{% endblock content %}