{% extends 'base/main.html' %}

{% block content %}
{% load static %}
<div class="profile_container">
    <div class="profile_page">
      <a href="{% url 'home' %}"><span class="material-symbols-outlined">
            arrow_back
            </span></a>  
        <div class="profile">
            <img src="{% static 'images/avatar.svg' %}" alt="">
        </div>
        <p>{{request.user.name}}</p>
        <p>{{request.user.username}}</p>
       
        <p class="bio">
            {{request.user.bio}}
            </p>
        <a href="{% url 'profile_edit' %}"><button>Edit Profile</button></a>
        <a href="{% url 'logout' %}"><button>Logout</button></a>
       
       

    </div>
</div>

{% endblock content %}